# Python virtual environment
projectvenv/

# Python cache files
__pycache__/
*.pyc
*.pyo

# Jupyter temporary files
.ipynb_checkpoints/

# VS Code settings
.vscode/

# Operating system files
.DS_Store
Thumbs.db

# Streamlit secrets
.streamlit/secrets.toml